/*------------------------------------*\
	Police
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,100&display=swap');


/*------------------------------------*\
	Minireset CSS
\*------------------------------------*/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*------------------------------------*\
	Variable
\*------------------------------------*/
body {
    --background-color: rgba(231, 231, 231, 1); /*Grey light*/
}

a {
    color: black;
    text-decoration: none;
}

footer {
    --background-color-footer: #424642;
    --text-color: rgba(231, 231, 231, 1);
}

/*------------------------------------*\
	General
\*------------------------------------*/
html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

.body_container {
    width: 70%;
    margin: auto;
    padding: 10px;
    min-height: 950px;
    /* border: 2px solid red; */
}

h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-left: 60px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin-left: 30px;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
}

/*------------------------------------*\
	Header
\*------------------------------------*/

header img {
    height: 50px;
}

.header_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header_container  ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header_container  ul li {
    margin-right: 20px;
    padding: 5px;
}

.header_container  ul a {
    transition: 600ms;
}

.header_container  ul a:hover {
    color: grey;
    text-decoration: underline;
}

.header_container .menu_deroulant {
    position: relative;
}


.header_container .sous_menu {
    display: none;
}

.header_container .menu_deroulant:hover .sous_menu  {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -35px;
    background-color: white;  
    width: 200px;
}

.header_container .menu_deroulant:hover .sous_menu li  {
    margin: auto;
}

/*------------------------------------*\
	Main
\*------------------------------------*/

main {
    padding-top: 40px;
}

section {
    padding: 100px 0;
}

/* ---- Présentation Main ---- */

.pres_container {
    display: flex;
    padding-top: 80px;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
}

.pres_container__left {
    width: 40%;
    line-height: 1.4;
    text-align: justify;
}

.pres_container__right img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.pres_container__right {
    position: relative;
}


.image_right__card{
    position: absolute;
    top: 50px;
    left: 150px;
}

/* ---- Produit Main ---- */

.product_container article {
    padding: 50px 0; 
}

.product_container p {
    padding: 40px 0;
    width: 50%;
    text-align: justify;
    margin: auto;
}

.product_container ul {
    display: flex;
    justify-content: space-between;
}

.product_container li {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 600ms;
}

.product_container li:hover{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}

.product_playgame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_playgame p {
    padding: 40px 0;
    width: 50%;
    text-align: justify;
    margin: auto;
}

.product_playgame img {
    transition: 600ms;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.product_playgame img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

/*------------------------------------*\
	Footer
\*------------------------------------*/

footer {
    background-color: var(--background-color-footer);
}

.footer_container {
    width: 70%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_container img {
    width: 30px;
}

.footer_container ul li {
    line-height: 2;
    transition: 500ms;
}

.footer_container a {
    transition: 500ms;
}

.footer_container a:hover {
    color: rgba(231, 231, 231, 1);
}


.social_container {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

/*------------------------------------*\
	Media Querries
\*------------------------------------*/

@media screen and (max-width:767px) 
{

/*------------------------------------*\
	General
\*------------------------------------*/

.body_container {
    width: 100%;
}

h1 {
    padding-left: 0px;
}

h2 {
    margin-left: 0px;

}

/*------------------------------------*\
	Header
\*------------------------------------*/

.header_container {
    flex-direction: column;
    align-items: center ;
    font-size: 11px;
    font-weight: bold;
}

.header_container img {
    padding-bottom: 15px;
}

/*------------------------------------*\
	Main
\*------------------------------------*/

.pres_container {
    width: 100%;
}

.pres_container__right {
    display: none;
}

.pres_container__left {
    width: 100%;
    padding: 10px;
    
}

/* ---- Produit Main ---- */

.product_container article {
    padding: 40px 0; 
}

.product_container p {
    padding: 40px 10px;
    width: 100%;
}

.product_container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product_container ul li {
    width: 85%;
    padding: 10px 0px;
    margin-top: 15px;
}

/*------------------------------------*\
	Footer
\*------------------------------------*/

.footer_container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_container ul {
   margin-top: 30px;
}



}